body {
  background-color: #C6EBBE;
}
button {
  margin: 3px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #647AA3;
  background-color: #D7A6B3;
  border-radius: 5px;
}
h2 {
  
}