body {
  background-color: #C6EBBE;
}
button {
  margin: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #647AA3;
  background-color: #D7A6B3;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  font-size: 15px;
}
h1 {
  font-family: 'Courier New', Courier, monospace;
  margin: 10px 5px 5px 5px;
  color: #647AA3;
}
p {
  font-family: 'Courier New', Courier, monospace;
  margin: 10px 5px 5px 5px;
  color: #647AA3;
  font-weight: bold;
}
ul {
  padding: 5px;
  list-style-type: none;
}
input {
  margin: 10px;
  font-family: 'Courier New', Courier, monospace;
  width: 80px;
  height: 20px;
  background-color: #D7A6B3;
  color: #647AA3;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
}